@layout('layouts/main')

@section('content')

<section class="py-2">
  <h3 class="text-center mb-4"><a href="/products" class="link-dark">Produtos à venda</a></h3>
</section>
<section class="py-2">
  <h3 class="text-center mb-4"> <a href="/salesman" class="link-warning">  Conheça os vendedores! </a></h3>
</section>
@end
